/* MTM1544 Week 1: your stylesheet.
   This file is already linked from index.html. Write your rules below.
   Start by changing the body background colour and saving, to confirm the link works. */

/*This is to check if it's properly connected to HTML*/
body { 
   background-color: white;
}

/*Change heading 1 color*/
h1 {
   color:green;
}

/*Change heading 2 color*/
h2 {
   color:#001DB8; line-height: 1;
}

/*Center both headings using a grouped selector*/
h1,h2 {
   text-align: center;
}

/*Change paragraph colour and line height*/
p {
   color:#2A92CF; line-height: 2;
}

/*Change intro text using class selector*/
.intro{
  font-family:Helvetica;
  font-size: 22px;
  font-weight: 300;
  color: #006969;

}

/*Using an ID selector to change "Summit" specifically*/
#summit {
   color: #63212a;
   border-left: 2px solid pink;
}

/*Later rule that overrides the previous paragraph rule*/
p{
   color:#B80092; line-height: 1.5;
}